@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    --border: #202020;
    --main_background: #303030;
    --secondary_background: #505050;
    --header_background: #404040;
    --primary_color: #FF8A65;
    --secondary_color: #EF5350;
    --text_normal: white;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    color: var(--text_normal);
}

header {
    background-color: var(--header_background);
    color: var(--primary_color);
    height: 8rem;
    grid-column: span 2;
    display: flex;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

h1 {
    margin-left: 10rem;
    margin-block: 2rem;
    font-size: 3rem;
    text-align: center;
}

.bookForm {
    background-color: var(--main_background);
    border-right: 2px solid var(--border);
    padding: 5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bookForm h2 {
    font-size: 3rem;
    color: var(--text_normal);
}

.bookForm label {
    color: var(--text_normal);
    margin-top: 1rem;
    font-size: 1.2rem;
}

.bookForm input {
    height: 2rem;
    background-color: var(--secondary_background);
    border: 1px solid var(--primary_color);
    border-radius: 5px;
    color: var(--text_normal);
    padding-inline: 1rem;
    font-size: 1rem;
}

.bookForm textarea {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid var(--primary_color);
    background-color: var(--secondary_background);
    color: var(--text_normal);
}

.bookForm .checkboxWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bookForm .checkboxWrapper label {
    margin-top: 0;
}

.bookForm .checkboxWrapper input {
    transform: scale(1.5);
    cursor: pointer;
    accent-color: var(--primary_color);
}

.bookForm .buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

button {
    --pColor: var(--primary_color);
    --sColor: var(--main_background);
    aspect-ratio: 1/1;
    height: 3rem;
    border-radius: 50%;
    border: 2px solid var(--pColor);
    color: var(--pColor);
    background-color: transparent;
    cursor: pointer;

    transition: color, background-color 100ms ease-in;

    font-variation-settings: 'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48;

    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    color: var(--sColor);
    background-color: var(--pColor);
    cursor: pointer;
}


.bookWrapper {
    padding: 2rem;
    background-color: var(--main_background);
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 10%));
    gap: 1rem;
}

.bookWrapper article {
    aspect-ratio: 4/5;
    width: 100%;
    background: linear-gradient(45deg,
    var(--primary_color) 0%,
    var(--secondary_color) 45%,
    var(--secondary_color) 55%,
    var(--primary_color) 100%);
    position: relative;
    border-radius: 5px;
}

.content {
    position: absolute;
    border-radius: inherit;
    background-color: var(--secondary_background);
    inset: 2px;

    padding: 1rem;

    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.bookWrapper article.read {
    background: linear-gradient(90deg, hsl(145, 48%, 46%) 0%, hsla(150, 61%, 48%, 1) 100%);
}

.bookWrapper article.read .content {
    background-color: rgba(10 10 10 / 0.5);

}

article.read button {
    --pColor: var(--primary_color);
    --sColor: hsl(145, 48%, 46%);
}

.content h3 {
    font-size: 2.5rem;
}

.content h4 {
    font-size: 1.5rem;
    font-weight: normal;
}

/*TODO: stop caption from overflowing card*/
.content p {
    flex: 1;
}

.content .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}

.content .flex .delete {
    align-self: flex-start;
}

@media (max-width: 600px) {

    h1 {
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-block: 1rem;
    }

    main {
        flex-direction: column;
    }

    .bookWrapper {
        grid-template-columns: minmax(200px, 1fr);
    }
}

@media (min-width: 601px) {
    h1 {
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-block: 1rem;
    }

    main {
        flex-direction: column;
    }

    .bookWrapper {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media (min-width: 1001px) {
    main {
        flex-direction: row;
    }

    .bookWrapper {
        grid-template-columns: repeat(auto-fit, minmax(300px, 10%));
    }

    h1 {
        margin-left: 10rem;
        margin-block: 2rem;
        text-align: left;
    }


}